<div class="media-icons-container">
    <a href="https://www.facebook.com/matheus.peixe.3/" target="_blank">
        <img class="media-icon" src="https://image.flaticon.com/icons/svg/220/220342.svg">
    </a>

    <a href="https://www.instagram.com/matheus_pece/">
        <img class="media-icon" src="https://image.flaticon.com/icons/svg/1077/1077042.svg">
    </a>

    <a href="https://github.com/MatheusPeixe">
        <img class="media-icon" src="https://image.flaticon.com/icons/svg/1051/1051377.svg">

    </a>

    <a href="https://www.linkedin.com/in/matheus-peixe/">
        <img class="media-icon" src="https://image.flaticon.com/icons/svg/408/408805.svg">
    </a>
</div>