<div id="modal" class="hide">
    <div class="content">
        <h1>Nova Ideia</h1>
        <div class="close" onclick="onOff()">
            <img class="icon_fechar" src="https://image.flaticon.com/icons/svg/1828/1828665.svg">
        </div>

        <form action="">
        
            <div class="input-wrapper">
                <label for="title">Título da Ideia</label>
                <input type="text" name="title">
            </div>
        
            <div class="input-wrapper">
                <label for="category">Categoria</label>
                <input type="text" name="category">
            </div>
        
            <div class="input-wrapper">
                <label for="image">Link da imagem</label>
                <input type="text" name="image">
            </div>
        
            <div class="input-wrapper">
                <label for="description">Digite uma descrição para essa ideia</label>
                <textarea name="description" cols="30" rows="10"></textarea>
            </div>
        
            <div class="input-wrapper">
                <label for="link">Link da ideia</label>
                <input type="text" name="link">
            </div>
            
            <button>Salvar</button>
        </form>
    </div>

</div>